html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.row {
    background-color: #f4f4f4; /* Cambia el color de fondo según tus preferencias */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}


.navbar-brand {
    font-size: 40px;
}
.display-4 {
    font-size: 30px;
}
.icono{
    margin-left:45%;
    
}
.icono svg {
    margin-left: 2%;
    width: 5%;
    height: 7%;
}